<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="working-tray.html">
<link rel="import" href="pattern-generator.html">


<!--
`op-tray`
create and view patterns

@demo demo/index.html 
-->

<dom-module id="op-tray">
  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        display: block;
        font-family: Roboto;
      }
    </style>
    <div class="layout horizontal">
      <pattern-generator saved-patterns="{{pats}}"></pattern-generator>
      <working-tray class="flex" saved-patterns="{{pats}}"></working-tray>
    </div>
  </template>

  <script>
    Polymer({
      is: 'op-tray',

      properties: {
        pats: {
          type: Array,
          value: [],
          notify: true,
        },
      },
      ready: function(){
        console.log("op-tray ready");
      },
    });
  </script>
</dom-module>
