<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<!--
`working-tray`
a way to see saved patterns

-->

<dom-module id="working-tray">
  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        display: block;
      }
      .iron-selected {
        background-color: var(--google-blue-300);
        color: white;
      }
      .thumb-paper {
        margin: 10px;
        padding: 0px;
      }
      #mainView {
        margin: 10px;
        padding: 10px;
      }
      .tool {
        background: var(--google-green-300);
      }
    </style>
    
    
    <paper-material id="mainView" elevation="2">
      
      <div id="controls" class="layout horizontal center">
        <h3 class="flex">Saved Patterns</h3>
        <paper-button raised class="tool" id="removeButton">Remove Selected</paper-button>
      </div>
      
      
      <iron-selector multi="true" attr-for-selected="id" id="itemSelector" class="layout horizontal wrap">
        <template is="dom-repeat" id="patternTemplate" items="{{savedPatterns}}">
          <!--<paper-material class="thumb-paper" id="{{index}}" elevation="1">-->
            <div id="{{index}}"><iron-image sizing="contain" src="{{item.image}}" style="width:100px; height:100px;"></iron-image></div>
          <!--</paper-material>-->
        </template>
      </iron-selector>
    </paper-material>
    
  </template>

  <script>
    Polymer({

      is: 'working-tray',

      properties: {
        savedPatterns: {
          type: Array,
          notify: true,
          value: [],
        },
        selecting: false,
      },
      listeners: {
        'removeButton.tap': '_removeSelectedItems',
        'itemSelector.down': '_onSelectStart',
        'itemSelector.track': '_onSelectTrack',
        'itemSelector.up': '_onSelectEnd',
      },
      ready: function(){
        console.log("ready");
      },
      _removeSelectedItems: function(e){
        console.log("removing selected items");
        
        var indicies = this.$.itemSelector.selectedValues.sort().reverse();

        indicies.forEach(function(index) {
          this.splice('savedPatterns', index, 1);
        }.bind(this));
        
        this.$.itemSelector.selectedValues = [];
      },
      _onSelectStart: function(e){
        console.log("selection started");
      },
      _onSelectTrack: function(e){
        if(e.detail.state == 'track'){
          console.log("selection tracking");
          
        }
      },
      _onSelectEnd: function(e){
        console.log("selection ended");
      }
    });
  </script>
</dom-module>
