<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-image/iron-image.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<!--
`working-tray`
a way to see saved patterns

@demo demo/index.html 
-->

<dom-module id="working-tray">
  <template>
    <style include="iron-flex iron-flex-alignment">
      :host {
        display: block;
      }
      .iron-selected {
        background-color: var(--google-blue-300);
        color: white;
      }
      .thumb-paper {
        margin: 15px;
        padding: 10px;
      }
      #mainView {
        margin: 10px;
        padding: 10px;
      }
      .tool {
        background: var(--google-green-300);
      }
    </style>
    
    
    <paper-material id="mainView" elevation="2">
      
      <div id="controls" class="layout horizontal center">
        <h3 class="flex">Saved Patterns</h3>
        <paper-button raised class="tool" id="removeButton">Remove Selected</paper-button>
      </div>
      
      
      <iron-selector multi="true" attr-for-selected="id" id="itemSelector" class="layout horizontal wrap">
      <!--<div class="layout horizontal wrap">-->
        <template is="dom-repeat" id="patternTemplate" items="{{savedPatterns}}">
          <paper-material class="thumb-paper" id="{{index}}" elevation="1">
            <iron-image sizing="contain" src="{{item.image}}" style="width:100px; height:100px;"></iron-image>
          </paper-material>
        </template>
      <!--</div>-->
      </iron-selector>
    </paper-material>
    
  </template>

  <script>
    Polymer({

      is: 'working-tray',

      properties: {
        savedPatterns: {
          type: Array,
          notify: true,
        },
      },
      listeners: {
        'removeButton.tap': '_removeSelectedItems',
      },
      ready: function(){
        console.log("ready");
      },
      _removeSelectedItems: function(e){
        console.log("removing selected items");
        
        //var items = this.$.itemSelector.selectedItems();
        
        //console.log(this.$.itemSelector.selectedValues);
        
        
        //this.splice('savedPatterns', this.$.itemSelector.selectedValues, this.$.itemSelector.selectedValues.length)
      
        
        
      }
    });
  </script>
</dom-module>
